.disponivel {
	color: green;
}

.indisponivel {
	color: red;
    font-style: italic;
}

table {
	margin: 20px auto;
	width: 80%;
}

th, td {
	border: 1px solid #ccc;
	padding: 10px 10px;
	text-align: center;
}

.bloco-produtos{
    text-align: center;
}

button {
	margin: 0 5px 15px 5px;
	padding: 6px 12px;
}
